{% include 'top.html' %}
<div class="content">
    <div class="container details">

        <h2 class="title"> Update your password </h2>

        <form class="Add" method="POST">
            
            Old Password: <input type="text" name="old_Password" value="" placeholder="Password">
            New Password: <input type="text" name="Password" value="" placeholder="Password">
            <br/>
            <button class="flat" type="submit">Update</button>

        </form>
        <br/>
        <div>

    </div>
</div>

